li {
list-style: none;
}

li:after {
content: 'サインバルタ投与';
    font-size: 1.7em;
color: white;
position: absolute;
bottom: -10px;
right: 60px;
}

li:hover:after {
display: none;
}


#drug_after,#drug_before{
position: fixed;
}

#medicine{
display: block;
position: absolute;
z-index: 100;
right: 50px;
top: 100px;
}


#innerBin {
position: absolute;
z-index: 10;
top: 200px;
left: 300px;
width: 1200px;
height: 700px;
background-color: rgba(255, 255, 255, .1);
border: 2px dashed white;
border-radius: 5px;
}

.zoom {
transition: transform 500ms;
}

.zoom.in {

opacity: 0.5;
}

.fadeout {
transition: opacity 1s;
opacity: 0;
}

