 ul.dropdownMenu li { 
  display: inline; 
  position: relative; 
}
 
 
ul.dropdownMenu ul {
  position: absolute; 
  visibility: hidden;

}
 
ul.dropdownMenu ul li { 
  display: block; 
}


#nav3-2{
    position: absolute;
 
    top: -45px;
    left: -39px;
    
}